*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header1{
    width: 100%;
    height: 117vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.headernav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.headernav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;

}
.headernav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.headernav ul li a:hover{
    color: #e5a13e;
    transition: 0.4s;
}

.video-background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    
}
@media (min-aspect-ratio: 16/9) {
    .video-background{
        width: 100%;
        height: auto;

    }
}
@media (max-aspect-ratio: 16/9) {
    .video-background{
        width: auto;
        height: 100%;
    }

}
.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    font-weight: 600;
    transition: 0.3s;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
  
}
.content h1:hover{
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;

}
.content a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 25px;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 45px;
    margin-top: 20px;

}
.content a:hover{
    background: white;
    color: black;
    transition: 0.3s;
}
.galada-regular {
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
  }
  
h5{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.Popular-Destinations{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    background-color: #e5a13e;
}
.card{
    width: 300px;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;

    background-color: white;
}
.card:hover{
    box-shadow: 0 18px 30px rgba(0,0,0,0.25);
    transition: 0.3s;
}
.card img{
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}
.card-content{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 300px;
}
.card-content ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}
.card-content ul li{
    padding-top: 5px;
    padding-bottom: 10px;
}
p{
    padding-top: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}
h6{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 5px;
}
.fa{
    font-size: 25px;
    margin: 5px;
    transition: 4s;
}
.fa:hover{
    transform: 0.3s;
}

.checked{
    color: #ff9f43;
}
.button1{
    background-color: red;
    padding: 3px 10px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
.button1:hover{
    background-color: white;
    color: red;
    transition: 0.3s;
}
.All-destinations{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    background-color: #e5a13e;

}
.card2{
    width: 300px;
    box-sizing: border-box;
    margin: 15px;
    float: left;
    border-radius: 20px;
    background-color: white;

}
.card2:hover{
    box-shadow: 0 18px 30px rgba(0,0,0,0.25);
    transition: 0.3s;
}
.card2 img{
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}
.card-content2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    
}
.m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
  }
  .discounts{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 25px;

  }
  .card4{
    width: 300px;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;

    background-color: #e5a13e;
}
.card4:hover{
    box-shadow: 0 18px 30px rgba(0,0,0,0.25);
    transition: 0.3s;
}
.card4 img{
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}
.card-content4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 300px;
}


.packages-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    background-color: #e5a13e;

}
  .card3{
    width: 400px;
    box-sizing: border-box;
    margin: 15px;
    float: left;
    border-radius: 20px;
    background-color: white;

}
.card3:hover{
    box-shadow: 0 18px 30px rgba(0,0,0,0.25);
    transition: 0.3s;
}
.card3 img{
    width: 400px;
    height: 400px;
    border-radius: 20px 20px 0px 0px;
}
.card-content3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 530px;
    
}
.price{
    font-size: 30px;
    font-weight: bold;

}
.card-content3 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;

}
.text{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    width: 100%;
   
}
.text ul{
    list-style: none;
    padding-top: 0px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.text ul li{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
}
.fa{
    color: brown;
    font-size: 25px;
    padding-bottom: 20px;
}
.checked{
    color: #ff9f43;
}
.follow{
    text-align: center;
    color: white;
    background-color: #213638;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #213638;

}
.social-media ul li{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin: 30px;

}
.social-media ul li a{
    text-decoration: none;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media ul li a i{
    font-size: 70px;
    
    

}
.fa-instagram{
    color:#fa7e1e;
}
.fa-brands:hover{
    opacity: 0.7;

}
.footer-nav{
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #213638;
}
.footer-nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;

}
.footer-nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.footer-nav ul li a:hover{
    color: #e5a13e;
    transition: 0.4s;
}
